table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 10px !important;
}

tr:hover {
	background-color: #ddd;
}

div.nav-tabs {
	float: right;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

div.nav-tabs button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

div.nav-tabs button:hover {
	background-color: #ccc;
	color: white;
}

div.nav-tabs button.active {
	background-color: #bdbdbd;
	color: white;
}

div.modal-content {
	width: 50%;
	left:25%;
	margin-top:10px;
}

div.main-content {
	border-radius: 10px 10px 0px 0px;
	position: relative;
	padding: 30px 20px 5px 20px;
	margin-bottom: 20px;
	background: rgb(247, 247, 249);
	border: solid 2px #b3d4fc;
	text-align: center;
	padding: 20px;
}

div.index-main {
	position: fixed;
	left: 50%;
	top:30%;
	margin-left: -100px;
	display: inline-block;
	border-radius: 4px;
	background-color: #29b2c7;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
}

div.index-main span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

div.index-main span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

div.index-main:hover span {
	padding-right: 25px;
}

div.index-main:hover span:after {
	opacity: 1;
	right: 0;
}

div.index-main a{
	color: #ffffff;
} 
div.index-main a:hover{
	color: #ffffff;
} 