@(category: models.CategoryModel)

<script>

function updateCategory(){	
	var param = {};
	param["categoryId"] = '@category.getCategoryId()';
	param["categoryName"] = $("#category_name").val();
	param["categoryNote"] = $("#category_note").val();
	
	//check validation from Form
	var x;
	x = document.getElementById("category_name").value;
	if(x == ""){
		alert("Name must be filled out");
		return false;
	} 
	
	$.ajax({
		type : 'POST',
		dataType : 'json',
		async : true,
		url : "/category/update",
		data : param,
		success : function(json) {
			window.location.href="/category";
		},
		error : function(error) {
			alert("error: Why come here??" + error);
		}
	});
}

function deleteCategory() {
	var param = {};
	param["categoryId"] = '@category.getCategoryId()';
	
	$.ajax({
		type : 'POST',
		dataType : 'json',
		async : true,
		url : "/category/delete",
		data : param,
		success : function(json) {
			window.location.href="/category";
		},
		error : function(error) {
			alert(response.key);
		}
	});
}

$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});

</script>

	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Category detail</h4>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-group">
					<label for="category">Name:</label> <input type="text" class="form-control" id="category_name" value="@category.getCategoryName()">
				</div>
				<div class="form-group">
					<label for="note">Note:</label>
					<textarea class="form-control" id="category_note" rows="4">@category.getCategoryNote()</textarea>
				</div>
			</form>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
			@if(category.getCategoryId() == 0){
				<button type="button" class="btn btn-update" id="btnUpdate" data-dismiss="modal" onClick="updateCategory()">Add</button>
			}
			@if(category.getCategoryId() != 0){
				<button type="button" class="btn btn-update" id="btnUpdate" data-dismiss="modal" onClick="updateCategory()">Update</button>
				<button type="button" class="btn btn-delete" id="btnDelete" data-dismiss="modal" onClick="deleteCategory()">Delete</button>
			}
		</div>
	</div>