@(cateList: List[CategoryModel]) 

@main("Category"){

<script type="text/javascript">
	function openPage() {
		window.location = "http://localhost:9000/user";
	}

	function loadCategoryDetail(key) {
		var param = {};
		param["categoryId"] = key;

		$.ajax({
			type : 'GET',
			dataType : 'html',
			async : true,
			url : "http://localhost:9000/category/detail",
			data : param,
			success : function(html) {
				$("#myModal").html(html);
				$("#myModal").modal('show');
			},
			error : function(error) {
				alert("error: tại sao lại vào đây???" + error);
			}
		});
	}
	
	
	function bigImg(x) {
	    x.style.height = "64px";
	    x.style.width = "64px";
	}

	function normalImg(x) {
	    x.style.height = "30px";
	    x.style.width = "30px";
	}
	
</script>

		<div class="nav-tabs">
			<button class="tablinks active">Category</button>
			<button class="tablinks" onclick="openPage()">User</button>
		</div>

		<!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
			data-target="#myModal" onclick="loadCategoryDetail('0')">Add</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog"></div>
		</div>

		<div class="tab-content">
			<div id="category" class="tab-pane fade in active">
				<h3>Category list</h3>
			</div>

			<!-- show category list -->
			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr style="background-color:Khaki;">
						<th>#</th>
						<th>Category Name</th>
						<th>Category Note</th>
						<th>Join User</th>
					</tr>
				</thead>
				<tbody>
					@for(category <- cateList){
					<tr>
						<td>@category.getCategoryId</td>
						<td class="cls_categoryName" id="@category.getCategoryId">
							<a data-toggle="modal" href="javascript:void(0);" onclick="loadCategoryDetail('@category.getCategoryId')">@category.getCategoryName</a>
						</td>
						<td>@category.getCategoryNote</td>
						<td>
							@for(user <- category.joinUsers){ 
								<img onmouseover="bigImg(this)" onmouseout="normalImg(this)" align="left" src="@user.getProfilePath()"  width="30" height="30" >
							}
						</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	
	}