@(lgList: List[LoginModel])

<style>


input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
input[type=text] {
    width: 95%;
    background-color: white;
    color: blue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border : 1px solid black;
}
input[type=password] {
    width: 95%;
    background-color: white;
    color: blue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border : 1px solid black;
}
form{
	border : 3px solid red;
	width: 30%;
	form-align: center;
}

textarea#login_box {
    border: 1px solid #cccccc;
    background-color: #eeeeee;
    width           : 400px;
    height          : 200px;
}

div {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
</style>


<div class = "Lg" align = "center">

			<h2 class="login" id="login_box" style="margin:auto; color: blue;">LOGIN</h2><br>
		 <form method="post" action="login/check">
	        <p>User ID:<br><input type="text" name="loginId" value="" placeholder="User Id"></p>
	        <p>User Password:<br><input type="password" name="password" value="" placeholder="Password"></p>
	        <p class="submit"><input type="submit" name="commit" value="Login"></p>
	     </form>
	     	     
</div>
