@(user: models.UserModel, listCategory : List[models.CategoryModel])

<script>


/*	Cach 1:
 * Cach nay file được up sẽ được hiển thị lên trước khi "add/update"
 * Nhược điểm của phương pháp này là khi chưa thực hiện thao tác add/update thì ảnh đã được tải lên
 * gây hiện tượng mất bộ nhớ mà không dùng đến khi cancel việc thay đổi thông tin users
 *
	$(document).ready(function(){
		$("#file").change(function(){
			console.log('vao ham change');
			var file = $('#file').get(0).files[0];
		   var formData = new FormData();
		   formData.append('file', file);
		   $.ajax({
		       url: "http://localhost:9000/user/upload",
		       data: file,
		       type: 'POST',
		       contentType: false,
		       processData: false,
		       success: function (data) {
	//	         //call your jQuery action here
		         $("#image_id").attr("src","/assets/images/Avatar/" + data);
		         
		       },
		       error: function (jqXHR, textStatus, errorThrown) {
		         alert(textStatus + ': ' + errorThrown);
		       }
		    });
		    return false;
		}); 
	});		
	
	
	  function updateUser(){
		
//Có thể lấy dữ liệu bằng cách này	
		var param = {};
		param["userId"] = '@user.getUserId()';
		param["userName"] = $("#user_name").val();
		param["userTel"] = $("#user_tel").val();
		param["userMail"] = $("#user_mail").val();
		param["categoryId"] = $("#category").val();
		param["userNote"] =  $("#user_note").val();
		param["profilePath"] = $("#image_id").attr("src");
		
		//check validation from Form
		var x;
		x = document.getElementById("user_name").value;
		if(x == ""){
			alert("Name must be filled out");
			return false;
		} 
		
		$.ajax({
			type : 'POST',
			dataType : 'json',
			async : true,
			url : "http://localhost:9000/user/update",
			data : param,
			success : function(json) {
				window.location.href="http://localhost:9000/user";
			},
			error : function(error) {
				alert("error: Why come here??" + error);
			}
		});
	}  

//Het cach 1
*/

/* Cach 2
 * Cách này khắc phục hiện tượng có thể tốn bộ nhớ vô ích do chỉ thực hiện upload file khi đã thực hiện
 * thao tác lên button add/update.
 */


	 $(document).ready(function(){
		    $("#user_form").submit(function( event ) {
		 	 	  event.preventDefault();
		  		  var param = new FormData(this);
				  param.append("userId", "@user.getUserId()");
				  param.append("profilePath", $("#myFile").val());
				  param.append("userName", $("#user_name").val());
				  param.append("userTel", $("#user_tel").val());
				  param.append("userMail", $("#user_mail").val());
				  param.append("categoryId", $("#category").val());
				  param.append("userNote", $("#user_note").val());
//				  param.append("userPassword", $("#user_password").val());
				  
				//check validation from Form
					var x;
					x = document.getElementById("user_name").value;
					if(x == ""){
						alert("Name must be filled out");
						return false;
					} 
				
				  $.ajax({
				        url: "http://localhost:9000/user/update",
				        type: 'POST',
				        data: param,
				        dataType : 'json',
				        async: true,
				        processData: false,
				        contentType: false,
				        success: function (data) {
				        	
				          console.log("data=" + data);
				          window.location.href = "http://localhost:9000/user";
				        },
				        error : function(error) {
		    				alert("error: " + error);
		    			}
				        
				    });
			});
		    
		}); 

	function updateUser(){
	 	$("#user_form").submit();
	}
	

//Het Cach 2



function deleteUser(){
	var param = {};
	param["userId"] = '@user.getUserId()';
	
	$.ajax({
		type : 'POST',
		dataType : 'json',
		async : true,
		url : "http://localhost:9000/user/delete",
		data : param,
		success : function(json) {
			window.location.href="http://localhost:9000/user";
		},
		error : function(error) {
			alert(response.key);
		}
	});
}


</script>

	<!-- Modal content-->
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">User detail</h4>
	</div>
	<div class="modal-body">
		
		<form id= "user_form" enctype="multipart/form-data">
			<div class="form-group">
				<label for="name">Name:</label> 
				<input type="text" name="text" value="@user.getUserName" class="form-control" id="user_name">
			</div>
<!-- 			<div class="form-group">
				<label for="name">PassWord:</label> 
				<input type="password" name="password" value="@user.getUserPassword" class="form-control" id="user_password">
			</div>
 -->
			<div class="form-group">
				<label for="tel">Tel:</label> 
				<input type="text" value="@user.getUserTel" class="form-control" id="user_tel">
			</div>
			<div class="form-group">
				<label for="mail">Mail:</label> <input type="text"
					value="@user.getUserMail" class="form-control" id="user_mail">
			</div>
			<div class="form-group">
				<label for="category">Category:</label> 
				<select id="category">
				@for((model,index) <- listCategory.zipWithIndex){
					<option value="@model.getCategoryId()" @if(user.userCategory.categoryId == model.getCategoryId()){selected}>@model.getCategoryName()</option>
				}
				</select>
			</div>
			<div class="form-group">
				<label for="note">Note:</label>
				<textarea class="form-control" id="user_note" rows="4">@user.getUserNote</textarea>
			</div>
			<div class="form-group">
 <!--Cach 1		<form id= "user_form" enctype="multipart/form-data">
					<label for="profile">Profile:</label>
				  	<input type="file"  name="picture" id="file" />
				  	<img id="image_id" src="@user.getProfilePath()" width="100" height="100" >
				  	
				</form> 
-->
	
<!-- C2 -->			<label for="profile">Profile:</label> 
					<input type="file" id="myFile" name="picture"><br>
					<label for="profile">Current Profile:</label>
					<img style="width:100px; height:100px" src="@user.profilePath"></img>
	
			</div>
		
			<div class="modal-footer">
				<button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
				@if(user.getUserId() == 0){	
					<button type="button" class="btn btn-update" data-dismiss="modal" id="btnUpdate" onClick="updateUser()">Add</button>
				}
				@if(user.getUserId() != 0){
					<button type="button" class="btn btn-update" data-dismiss="modal" id="btnUpdate" onClick="updateUser()">Update</button>
					<button type="button" class="btn btn-delete" data-dismiss="modal" id="btnDelete" onClick="deleteUser()">Delete</button>
				}	
			</div>
		</div>
	</form>
</div>
 
