@(userList: List[UserModel])

@main("User"){

<script>
		$(document).ready(function() {
			$(".nav-tabs a").click(function() {
				$(this).tab('show');
			});
		});

		function loadUserDetail(key) {
			var param = {};
			param["userId"] = key;
			console.log("key = " + key);
			$.ajax({
				type : 'GET',
				dataType : 'html',
				async : true,
				url : "http://localhost:9000/user/detail",
				data : param,
				success : function(html) {
					//$("#cls_userName").modal('show');
					$("#myModal").html(html);
					$("#myModal").modal('show');
				},
				error : function(error) {
					alert("error: tại sao lại vào đây " + error);
				}
			});
		}

		function openPage() {
			window.location = "http://localhost:9000/category";
		}
	</script>

		<div class="nav-tabs"">
			<button class="tablinks" onclick="openPage('active')">Category</button>
			<button class="tablinks active">User</button>
		</div>

		<!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" onclick="loadUserDetail('0')">Add</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog"></div>
		</div>

		<div class="tab-content" id="id_div_modal">
			<div id="user" class="tab-pane fade in active">
				<h3>User list</h3>
			</div>

			<!-- show category list -->
			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr style="background-color:PowderBlue;">
						<th >#</th>
						<th>User profile</th>
						<th>User Name</th>
						<th>Tel</th>
						<th>Mail</th>
						<th>Category</th>
						<th>Note</th>
					</tr>
				</thead>
				<tbody>
					@for(user <- userList){
						<tr>
							<td>@user.getUserId()</td>
							<td><a data-toggle="modal" href="javascript:void(0);" onclick="loadUserDetail('@user.getUserId()')"> <img align="left" src="@user.getProfilePath()"  width="30" height="30" > </img></a></td>
					<!-- 		<td>
								<img class="avatar" style = "width: 70px; height: 70px"src="@user.profilePath">
							</td> -->
							<td class="cls_userName" id="@user.getUserId()">
								<a data-toggle="modal" href="javascript:void(0)" onclick="loadUserDetail('@user.getUserId()')">@user.getUserName()</a>
							</td>
							<td>@user.getUserTel()</td>
							<td>@user.getUserMail()</td>
							<td>@user.getUserCategory().categoryName</td>
							<td>@user.getUserNote()</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
}
